//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  --button-bg: #e4e4e4;
  height: 56px;
  display: inline-flex;
  // background: var(--button-bg);
  background: #e6ecfc;
  border: 1px solid #212121;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  padding: 10px 20px;
  position: relative;
  border: 1px solid var(--main-color);
  overflow: hidden;
  .dark-theme & {
    background: rgba(217, 217, 217, 0.02);
    border: 1px solid #ffffff;
  }
  @media (max-width: $tablet) {
    height: 34px;
    font-size: rem(12);
  }
  span {
    z-index: 2;
  }

  &:hover {
    box-shadow: 0 0 10px var(--main-color);
  }
  &._fw {
    width: 100%;
  }
}
//<INPUT>
// Сніппет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.21);
  background-blend-mode: soft-light;
  border-radius: 30px;
  padding: rem(0) rem(22);
  font-size: 15px;
  line-height: 17px;
  color: inherit;
  font-family: inherit;
  height: 50px;
  .dark-theme & {
    background: rgba(181, 181, 181, 0.1);
  }
  @media (max-width: $tablet) {
    height: 30px;
    padding: rem(0) rem(18);
    font-size: 12px;
  }
  &::placeholder {
    color: inherit;
  }
  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  height: rem(319);
  font-family: inherit;
  padding: 25px;
  @media (max-width: $tablet) {
    height: 280px;
    padding: 18px;
  }
}
