
@font-face {
	font-family: Mersad;
	font-display: swap;
	src: url("@/assets/fonts/Mersad-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Mersad;
	font-display: swap;
	src: url("@/assets/fonts/Mersad-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Mersad;
	font-display: swap;
	src: url("@/assets/fonts/Mersad-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Mersad;
	font-display: swap;
	src: url("@/assets/fonts/Mersad-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}